{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SwitchNet | {% block title %}{% endblock title %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{% static 'SwitchNet/style.css' %}" rel="stylesheet" type="text/css" />
    {% block links %}{% endblock links%}
</head>
<body id="home">
<!-- START PAGE SOURCE -->
<div id="header">
  <div id="innerheader"> <a href="#"><img src="{% static 'SwitchNet/images/logo.png' %}" alt="" class="logo" /></a>
    <div id="mainsearch">
      <form method="get" action="#">
        <input value="search for a domain name..." onclick="this.value=''" name="domain" type="text" class="searchbox" />
        <input type="image" src="{% static 'SwitchNet/images/btn_mainsearch.png' %}" class="btnsearch" />
      </form>
    </div>
  </div>
</div>
<div id="nav">
  <ul id="navigation">
    <li class="navhome"><a href="{% url 'user_mgr:index' %}">Home</a></li>
    <li class="navdomains"><a href="content.html">Domain Names</a></li>
    <li class="navhosting"><a href="hosting.html">Web Hosting</a></li>
    <li class="navabout"><a href="#">About Us</a></li>
    <li class="navorder"><a href="#">Order Now</a></li>
    <li class="right"><img src="{% static 'SwitchNet/images/icon_nav_login.png' %}" alt="" /><a href="#">Control Panel</a></li>
    <li class="right"><img src="{% static 'SwitchNet/images/icon_support.png' %}" alt="" /><a href="{% url 'user_mgr:register' %}">Create Account</a></li>
    <li class="right"><img src="{% static 'SwitchNet/images/icon_support.png' %}" alt="" /><a href="{% url 'user_mgr:login' %}">Login</a></li>
  </ul>
</div>
<div id="content">
    {% block inner_content %}
    
    {% endblock inner_content %}
</div>
<div id="footer">
  <p class="lf">Copyright &copy; 2011 <a href="#">Blue Hosting</a> - All Rights Reserved</p>
  <p class="rf">Design by <a href="http://www.heartinternet.co.uk/">Reseller Hosting</a></p>
  <div style="clear:both;"></div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>
